.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-inline: 30px;
  width: 100%;
}

.header-title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
}

.star-wars-logo {
  margin-block: 5px;
  width: 20%;
}

.bb8, .grogu {
  height: 180px;
}
