.table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 95%;
}

.table-film-display {
  padding-inline: 3px;
  text-decoration: none;
}

.loading-table {
  margin-top: 60px;
}
